# 应用配置
PORT=8080
GIN_MODE=debug
SESSION_SECRET=figma-deliver-secret-key-change-this

# 数据库配置
DB_HOST=node1.mysql.figma.deliver.hwhosts.com
DB_PORT=3306
DB_USER=mysqlsiud
DB_PASS=mysql!@#456
DB_NAME=figma_deliver

# 文件存储配置
EXPORT_DIR=./exports
TEMP_DIR=./temp
